<%- model_class = Standing -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>	
      <th><%= model_class.human_attribute_name(:team_id) %></th>
      <th>PJ</th>
      <th>PG</th>
      <th>PE</th>
      <th>PP</th>
      <th>GF</th>
      <th>GC</th>
      <th>GD</th>
      <th>Pts.</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% 1.upto(@standings.size) do |index| %>
    <% standing = @standings[index-1] %>
      <tr>
      	<td><%= index %></td>
        <td><%= standing.team.name %></td>
        <td><%= standing.wins + standing.losses + standing.ties%></td>
        <td><%= standing.wins %></td>
        <td><%= standing.ties %></td>
        <td><%= standing.losses %></td>
        <td><%= standing.scored_goals %></td>
        <td><%= standing.conceded_goals %></td>
        <td><%= standing.goal_difference %></td>
        <td><%= standing.points %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_standing_path(standing), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      standing_path(standing),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_standing_path,
            :class => 'btn btn-primary' %>
